extends _layout

mixin post(title, date, src, content)
	.post
		h2=title
		em=date
		.blog-img
			img(src=src)
		p!=content
	hr

mixin textpost(title, date, content)
	.post
		h2=title
		em=date
		p!=content
	hr

block content
	script.
		$.ajax({
			url: "http://gaminged.com/ei1/jets/net/updates.html",
			success: function(result) {
				$('#blogposts').html(result);
			}
		});

		function formatPost (title, content) {
			var date = new Date();
			var textDate = ((date.getHours() % 12)) + ':' + date.getMinutes() + ['AM on ', 'PM on '][parseInt(date.getHours() / 12)] + ['January ', 'Febuary ', 'March ', 'April ', 'May ', 'June ', 'July ', 'August ', 'September ', 'October ', 'November ', 'December '][date.getMonth()] + date.getDate() + ', ' + date.getFullYear();
			return '<div class=post><h2>' + title + '</h2><em style="font-size: 14px">'
			+ textDate + '</em><br><p>' + content.replace(/\n/g, '<br>') + '</p><hr/></div>';
		}

		function blogPost() {
			if($('#posttitle').val() != '' && $('#postbody').val() != '') {
				console.log()
				if(confirm('About to post it to the website!')) {
					$.ajax({
						url: 'http://gaminged.com/ei1/jets/net/blogpost.php?user=' + localStorage.getItem('user') + '&pass=' + localStorage.getItem('pass') + '&blog=' + formatPost($('#posttitle').val(), $('#postbody').val()),
						success: function(result) {
							if(result != 'yay') {
								alert('An error occured. Copy your work somewhere else and try again later.');
							} else {
								window.location.reload();
							}
						}
					});
				}
			} else {
				alert('Don\'t post a blank post!');
			}
		}

		userAuth(function(auth) {
			if(auth >= 3) {
				$('#newpost').html(`
					<h2>New Post</h2><br>
					<input type='text' class='form-control' style='width: 50%' placeholder='Title' id='posttitle'><br>
					<textarea id='postbody' type='text' class='form-control' style='width: 100%; height: 25vh' placeholder='Write away! Use HTML formatting.'></textarea><br>
					<p id='postprev'></p>
					<input type='button' onClick='blogPost()' value='SUBMIT' class='btn btn-primary'>
				`);
				setInterval(function() {
					$('#postprev').html(formatPost($('#posttitle').val(), $('#postbody').val()));
				}, 0);
			}
		});
	.content-container.container
		title JETS News
		h1.title UPDATES
		div#newpost
		hr
		div#blogposts
		a(href='updates-old') Older