extends _layout

mixin post(title, date, src, content)
	.post
		h2=title
		em=date
		.blog-img
			img(src=src)
		p!=content
	hr

mixin textpost(title, date, content)
	.post
		h2=title
		em=date
		p!=content
	hr

block content
	.content-container.container
		title JETS News
		h1.title UPDATES
		hr
		+textpost('Announcing the Clements Invitational 2017!', 'June 13, 2017', 'Clements JETS is hosting a Science Olympiad Invitational! It will be on December 16th at Clements. Price of admission is $120. For more details, visit our <a href="invitational">invitational page.</a>')
		+textpost('New Website!', 'June 1, 2017', 'As of now, this is is the new official website of Clements JETS! Courtesy of Michael Yu for frameworks and formatting.')
		a(href='updates-old') Older